In [1]:
import pandas as pd
from collections import defaultdict
from operator import itemgetter

In [2]:
def Borda(df):
  res=[]
  n_voters = df.shape[1]-1
  n_candidates = len(df['candidate'])
  scores = defaultdict(int)
  for i in range(0, n_candidates):
    for j in range(1, n_voters+1):
      scores[df['candidate'][i]] +=df.iloc[i,j] 
  # Sort candidates by score, descending
  ranking = sorted(scores.items(), key=lambda i: i[1], reverse=True)
  for cand, score in ranking:
    #print(cand, score)
    res.append([cand, score])
    #print('='*20)
  return res

def sum_lists(list1, list2):
  overall=[]
  for i in range(0,len(list1)):
    overall.append([list1[i][0],list1[i][1]+list2[i][1]])
  return overall

In [3]:
def as_dataframe(res):
  list1=[]
  list2=[]
  for i in range(0, len(res)):
    list1.append(res[i][0])
    list2.append(res[i][1])
  df = pd.DataFrame(list(zip(list1, list2)),columns =['Methods', 'Votes_sum'])
  df["Ranks"] = df["Votes_sum"].rank(method='dense',ascending=False)
  return df

## Performance borda count

In [4]:
perf = pd.read_excel("performance.xlsx",sheet_name="D1")
perf["Vote_Accuracy"] = perf["Accuracy"].rank(method='dense')
perf["Vote_precision"] = perf["Precision"].rank(method='dense')
perf["Vote_Recall"] = perf["Recall"].rank(method='dense')
perf["Vote_F1"] = perf["F1 score"].rank(method='dense')
perf.head()

,x,Accuracy,Precision,Recall,F1 score,Vote_Accuracy,Vote_precision,Vote_Recall,Vote_F1
0,ANFIS,98,71,83,65,5.0,2.0,1.0,3.0
1,DENFIS,91,73,86,56,2.0,3.0,2.0,1.0
2,SOFNN,97,87,91,66,4.0,5.0,3.0,4.0
3,HyFIS,71,67,83,65,1.0,1.0,1.0,3.0
4,NEFCLASS,95,74,95,62,3.0,4.0,4.0,2.0

In [5]:
# Borda count based on all performance metrics for dataset wisconsin D1

data = {'candidate':perf['x'].tolist(),'vote_acc':perf['Vote_Accuracy'].tolist(),'vote_prec':perf['Vote_precision'].tolist(), 'vote_rec':perf['Vote_Recall'].tolist(), 'vote_f1':perf['Vote_F1'].tolist()}
df = pd.DataFrame(data)

print("Borda count based on all performance metrics for dataset wisconsin\n")
bc_perf_wisc = Borda(df)
wisc_perf_df = as_dataframe(bc_perf_wisc)
wisc_perf_df.head()

Borda count based on all performance metrics for dataset wisconsin

    Methods  Votes_sum  Ranks
0     SOFNN       16.0    1.0
1  NEFCLASS       13.0    2.0
2     ANFIS       11.0    3.0
3    DENFIS        8.0    4.0
4     HyFIS        6.0    5.0

In [6]:
# Borda count based on all performance metrics for dataset spectf D2

perf = pd.read_excel("performance.xlsx",sheet_name="D2")
perf["Vote_Accuracy"] = perf["Accuracy"].rank(method='dense')
perf["Vote_precision"] = perf["Precision"].rank(method='dense')
perf["Vote_Recall"] = perf["Recall"].rank(method='dense')
perf["Vote_F1"] = perf["F1 score"].rank(method='dense')
perf.head()

,x,Accuracy,Precision,Recall,F1 score,Vote_Accuracy,Vote_precision,Vote_Recall,Vote_F1
0,ANFIS,96,76,81,66,5.0,4.0,2.0,3.0
1,DENFIS,89,75,82,58,2.0,3.0,3.0,1.0
2,SOFNN,95,72,93,67,4.0,2.0,4.0,4.0
3,HyFIS,76,69,80,67,1.0,1.0,1.0,4.0
4,NEFCLASS,90,87,93,62,3.0,5.0,4.0,2.0

In [7]:

data = {'candidate':perf['x'].tolist(),'vote_acc':perf['Vote_Accuracy'].tolist(),'vote_prec':perf['Vote_precision'].tolist(), 'vote_rec':perf['Vote_Recall'].tolist(), 'vote_f1':perf['Vote_F1'].tolist()}

df = pd.DataFrame(data)


print("Borda count based on all performance metrics for dataset spectf\n")
bc_perf_spectf = Borda(df)
spectf_perf_df = as_dataframe(bc_perf_spectf)
spectf_perf_df.head()

Borda count based on all performance metrics for dataset spectf

    Methods  Votes_sum  Ranks
0     ANFIS       14.0    1.0
1     SOFNN       14.0    1.0
2  NEFCLASS       14.0    1.0
3    DENFIS        9.0    2.0
4     HyFIS        7.0    3.0

In [8]:
# Borda count based on all performance metrics for dataset parkinson D3
perf = pd.read_excel("performance.xlsx",sheet_name="D3")
perf["Vote_Accuracy"] = perf["Accuracy"].rank(method='dense')
perf["Vote_precision"] = perf["Precision"].rank(method='dense')
perf["Vote_Recall"] = perf["Recall"].rank(method='dense')
perf["Vote_F1"] = perf["F1 score"].rank(method='dense')
perf.head()

,x,Accuracy,Precision,Recall,F1 score,Vote_Accuracy,Vote_precision,Vote_Recall,Vote_F1
0,ANFIS,93,71,88,69,3.0,1.0,4.0,4.0
1,DENFIS,93,73,78,68,3.0,2.0,1.0,3.0
2,SOFNN,98,86,83,70,4.0,5.0,2.0,5.0
3,HyFIS,80,77,87,62,1.0,4.0,3.0,1.0
4,NEFCLASS,89,76,92,66,2.0,3.0,5.0,2.0

In [9]:
data = {'candidate':perf['x'].tolist(),'vote_acc':perf['Vote_Accuracy'].tolist(),'vote_prec':perf['Vote_precision'].tolist(), 'vote_rec':perf['Vote_Recall'].tolist(), 'vote_f1':perf['Vote_F1'].tolist()}
df = pd.DataFrame(data)

print("Borda count based on all performance metrics for dataset parkinson\n")
bc_perf_park = Borda(df)
park_perf_df = as_dataframe(bc_perf_park)
park_perf_df.head()

Borda count based on all performance metrics for dataset parkinson

    Methods  Votes_sum  Ranks
0     SOFNN       16.0    1.0
1     ANFIS       12.0    2.0
2  NEFCLASS       12.0    2.0
3    DENFIS        9.0    3.0
4     HyFIS        9.0    3.0

In [10]:
# Borda count based on all performance metrics for dataset Diabets D4
perf = pd.read_excel("performance.xlsx",sheet_name="D4")
perf["Vote_Accuracy"] = perf["Accuracy"].rank(method='dense')
perf["Vote_precision"] = perf["Precision"].rank(method='dense')
perf["Vote_Recall"] = perf["Recall"].rank(method='dense')
perf["Vote_F1"] = perf["F1 score"].rank(method='dense')
perf.head()

,x,Accuracy,Precision,Recall,F1 score,Vote_Accuracy,Vote_precision,Vote_Recall,Vote_F1
0,ANFIS,98,71,83,65,5.0,2.0,1.0,3.0
1,DENFIS,91,73,86,56,2.0,3.0,2.0,1.0
2,SOFNN,97,87,91,66,4.0,5.0,3.0,4.0
3,HyFIS,71,67,83,65,1.0,1.0,1.0,3.0
4,NEFCLASS,95,74,95,62,3.0,4.0,4.0,2.0

In [11]:
data = {'candidate':perf['x'].tolist(),'vote_acc':perf['Vote_Accuracy'].tolist(),'vote_prec':perf['Vote_precision'].tolist(), 'vote_rec':perf['Vote_Recall'].tolist(), 'vote_f1':perf['Vote_F1'].tolist()}
df = pd.DataFrame(data)

print("Borda count based on all performance metrics for dataset diabetics\n")
bc_perf_diabets = Borda(df)
diabets_perf_df = as_dataframe(bc_perf_diabets)
diabets_perf_df.head()

Borda count based on all performance metrics for dataset diabetics

    Methods  Votes_sum  Ranks
0     SOFNN       16.0    1.0
1  NEFCLASS       13.0    2.0
2     ANFIS       11.0    3.0
3    DENFIS        8.0    4.0
4     HyFIS        6.0    5.0

# Interpretability borda count

In [12]:
# Borda count based on all interpretability metrics for dataset Wisconsin D1
interp = pd.read_excel("interpretability.xlsx",sheet_name="D1")
interp["Vote_rules"] = interp["Num of rules"].rank(method='dense')
interp["Vote_MFs"] = interp["Num of MFs"].rank(method='dense')
interp.head()

          x  Num of rules  Num of MFs  Vote_rules  Vote_MFs
0     ANFIS            83           3         2.0       1.0
1    DENFIS            91           7         4.0       3.0
2     SOFNN            94           5         5.0       2.0
3     HyFIS            90           3         3.0       1.0
4  NEFCLASS            82           7         1.0       3.0

In [13]:
data = {'candidate':interp['x'].tolist(),'vote_rules':interp["Vote_rules"].tolist(),'vote_mfs':interp["Vote_MFs"].tolist()}
df = pd.DataFrame(data)
print("Borda count based on all interpretability metrics for dataset wisconsin\n")
bc_interp_wisc = Borda(df)
wisc_interp_df = as_dataframe(bc_interp_wisc)
#wisc_interp_df = wisc_interp_df.sort_values('Ranks')
wisc_interp_df.head()

Borda count based on all interpretability metrics for dataset wisconsin

    Methods  Votes_sum  Ranks
0    DENFIS        7.0    1.0
1     SOFNN        7.0    1.0
2     HyFIS        4.0    2.0
3  NEFCLASS        4.0    2.0
4     ANFIS        3.0    3.0

In [14]:
# Borda count based on all interpretability metrics for dataset spectf D2
interp = pd.read_excel("interpretability.xlsx",sheet_name="D2")
interp["Vote_rules"] = interp["Num of rules"].rank(method='dense')
interp["Vote_MFs"] = interp["Num of MFs"].rank(method='dense')
interp.head()

          x  Num of rules  Num of MFs  Vote_rules  Vote_MFs
0     ANFIS            97           5         5.0       2.0
1    DENFIS            93           3         4.0       1.0
2     SOFNN            85           3         2.0       1.0
3     HyFIS            75           5         1.0       2.0
4  NEFCLASS            88           7         3.0       3.0

In [15]:
data = {'candidate':interp['x'].tolist(),'vote_rules':interp["Vote_rules"].tolist(),'vote_mfs':interp["Vote_MFs"].tolist()}
df = pd.DataFrame(data)

print("Borda count based on all interpretability metrics for dataset spectf\n")
bc_inter_spectf = Borda(df)
spectf_interp_df = as_dataframe(bc_inter_spectf)
#spectf_interp_df = spectf_interp_df.sort_values('Ranks')
spectf_interp_df.head()

Borda count based on all interpretability metrics for dataset spectf

    Methods  Votes_sum  Ranks
0     ANFIS        7.0    1.0
1  NEFCLASS        6.0    2.0
2    DENFIS        5.0    3.0
3     SOFNN        3.0    4.0
4     HyFIS        3.0    4.0

In [16]:
# Borda count based on all interpretability metrics for dataset parkinson D3
interp = pd.read_excel("interpretability.xlsx",sheet_name="D3")
interp["Vote_rules"] = interp["Num of rules"].rank(method='dense')
interp["Vote_MFs"] = interp["Num of MFs"].rank(method='dense')
interp.head()

          x  Num of rules  Num of MFs  Vote_rules  Vote_MFs
0     ANFIS            87           5         3.0       2.0
1    DENFIS            95           3         4.0       1.0
2     SOFNN            96           7         5.0       3.0
3     HyFIS            83           3         2.0       1.0
4  NEFCLASS            55           5         1.0       2.0

In [17]:
data = {'candidate':interp['x'].tolist(),'vote_rules':interp["Vote_rules"].tolist(),'vote_mfs':interp["Vote_MFs"].tolist()}
df = pd.DataFrame(data)

print("Borda count based on all interpretability metrics for dataset parkinson\n")
bc_inter_park = Borda(df)
park_interp_df = as_dataframe(bc_inter_park)
#park_interp_df = park_interp_df.sort_values('Ranks')
park_interp_df.head()

Borda count based on all interpretability metrics for dataset parkinson

    Methods  Votes_sum  Ranks
0     SOFNN        8.0    1.0
1     ANFIS        5.0    2.0
2    DENFIS        5.0    2.0
3     HyFIS        3.0    3.0
4  NEFCLASS        3.0    3.0

In [18]:
# Borda count based on all interpretability metrics for dataset diabets D4
interp = pd.read_excel("interpretability.xlsx",sheet_name="D4")
interp["Vote_rules"] = interp["Num of rules"].rank(method='dense')
interp["Vote_MFs"] = interp["Num of MFs"].rank(method='dense')
interp.head()

          x  Num of rules  Num of MFs  Vote_rules  Vote_MFs
0     ANFIS            98           7         5.0       3.0
1    DENFIS            91           5         2.0       2.0
2     SOFNN            97           3         4.0       1.0
3     HyFIS            71           3         1.0       1.0
4  NEFCLASS            95           5         3.0       2.0

In [19]:
data = {'candidate':interp['x'].tolist(),'vote_rules':interp["Vote_rules"].tolist(),'vote_mfs':interp["Vote_MFs"].tolist()}
df = pd.DataFrame(data)

print("Borda count based on all interpretability metrics for dataset diabetics\n")
bc_inter_diabets = Borda(df)
diabets_interp_df = as_dataframe(bc_inter_diabets)
#diabets_interp_df = diabets_interp_df.sort_values('Ranks')
diabets_interp_df.head()

Borda count based on all interpretability metrics for dataset diabetics

    Methods  Votes_sum  Ranks
0     ANFIS        8.0    1.0
1     SOFNN        5.0    2.0
2  NEFCLASS        5.0    2.0
3    DENFIS        4.0    3.0
4     HyFIS        2.0    4.0

##Overall ranking borda count

Overall ranking based on both performance and interpretability _ Option 1

In [20]:
# For Wisconsin D1
#Here the overall sum is the sum of ranks( perf ranks + iterp ranks)

wisc_perf_df2 = wisc_perf_df.sort_values(by=['Methods'])
wisc_interp_df2 = wisc_interp_df.sort_values(by=['Methods'])
wisc_overall = pd.DataFrame(wisc_perf_df2['Methods'], columns=['Methods'])
wisc_overall['Overall_sum'] = wisc_perf_df2['Ranks'].values + wisc_interp_df2['Ranks'].values
wisc_overall["Overall Rank"] = wisc_overall["Overall_sum"].rank(method='dense')
wisc_overall = wisc_overall.sort_values('Overall Rank')
wisc_overall.head()

    Methods  Overall_sum  Overall Rank
0     SOFNN          2.0           1.0
1  NEFCLASS          4.0           2.0
3    DENFIS          5.0           3.0
2     ANFIS          6.0           4.0
4     HyFIS          7.0           5.0

In [21]:
# For spectf D2
#Here the overall sum is the sum of ranks( perf ranks + iterp ranks)

spectf_perf_df2 = spectf_perf_df.sort_values(by=['Methods'])
spectf_interp_df2 = spectf_interp_df.sort_values(by=['Methods'])
spectf_overall = pd.DataFrame(spectf_perf_df2['Methods'], columns=['Methods'])
spectf_overall['Overall_sum'] = spectf_perf_df2['Ranks'].values + spectf_interp_df2['Ranks'].values
spectf_overall["Overall Rank"] = spectf_overall["Overall_sum"].rank(method='dense')
spectf_overall = spectf_overall.sort_values('Overall Rank')
spectf_overall.head()

    Methods  Overall_sum  Overall Rank
0     ANFIS          2.0           1.0
2  NEFCLASS          3.0           2.0
3    DENFIS          5.0           3.0
1     SOFNN          5.0           3.0
4     HyFIS          7.0           4.0

In [22]:
# For Parkinson D3
#Here the overall sum is the sum of ranks( perf ranks + iterp ranks)

park_perf_df2 = park_perf_df.sort_values(by=['Methods'])
park_interp_df2 = park_interp_df.sort_values(by=['Methods'])
park_overall = pd.DataFrame(park_perf_df2['Methods'], columns=['Methods'])
park_overall['Overall_sum'] = park_perf_df2['Ranks'].values + park_interp_df2['Ranks'].values
park_overall["Overall Rank"] = park_overall["Overall_sum"].rank(method='dense')
park_overall = park_overall.sort_values('Overall Rank')
park_overall.head()

    Methods  Overall_sum  Overall Rank
0     SOFNN          2.0           1.0
1     ANFIS          4.0           2.0
3    DENFIS          5.0           3.0
2  NEFCLASS          5.0           3.0
4     HyFIS          6.0           4.0

In [23]:
# For Diabets D4
#Here the overall sum is the sum of ranks( perf ranks + iterp ranks)

diabets_perf_df2 = diabets_perf_df.sort_values(by=['Methods'])
diabets_interp_df2 = diabets_interp_df.sort_values(by=['Methods'])
diabets_overall = pd.DataFrame(diabets_perf_df2['Methods'], columns=['Methods'])
diabets_overall['Overall_sum'] = diabets_perf_df2['Ranks'].values + diabets_interp_df2['Ranks'].values
diabets_overall["Overall Rank"] = diabets_overall["Overall_sum"].rank(method='dense')
diabets_overall = diabets_overall.sort_values('Overall Rank')
diabets_overall.head()

    Methods  Overall_sum  Overall Rank
0     SOFNN          3.0           1.0
2     ANFIS          4.0           2.0
1  NEFCLASS          4.0           2.0
3    DENFIS          7.0           3.0
4     HyFIS          9.0           4.0

Overall ranking based on both performance and interpretability _ Option 2

In [26]:
# For wisconsin D1
bc_inter_wisc = sorted(bc_interp_wisc, key=itemgetter(0))
bc_perf_wisc = sorted(bc_perf_wisc, key=itemgetter(0))
overall = sum_lists(bc_interp_wisc,bc_perf_wisc)
overall = sorted(overall, key=itemgetter(1),reverse=True)
as_dataframe(overall)

    Methods  Votes_sum  Ranks
0     ANFIS       19.0    1.0
1    DENFIS       18.0    2.0
2  NEFCLASS       17.0    3.0
3     SOFNN       15.0    4.0
4     HyFIS       10.0    5.0

In [27]:
# For spectf D2
bc_inter_spectf = sorted(bc_inter_spectf, key=itemgetter(0))
bc_perf_spectf = sorted(bc_perf_spectf, key=itemgetter(0))
overall = sum_lists(bc_inter_spectf,bc_perf_spectf)
overall = sorted(overall, key=itemgetter(1),reverse=True)
as_dataframe(overall)

    Methods  Votes_sum  Ranks
0     ANFIS       21.0    1.0
1  NEFCLASS       20.0    2.0
2     SOFNN       17.0    3.0
3    DENFIS       14.0    4.0
4     HyFIS       10.0    5.0

In [28]:
# For parkinson D3
bc_inter_park = sorted(bc_inter_park, key=itemgetter(0))
bc_perf_park = sorted(bc_perf_park, key=itemgetter(0))
overall = sum_lists(bc_inter_park,bc_perf_park)
overall = sorted(overall, key=itemgetter(1),reverse=True)
as_dataframe(overall)

    Methods  Votes_sum  Ranks
0     SOFNN       24.0    1.0
1     ANFIS       17.0    2.0
2  NEFCLASS       15.0    3.0
3    DENFIS       14.0    4.0
4     HyFIS       12.0    5.0

In [29]:
# For diabets D4
bc_inter_diabets = sorted(bc_inter_diabets, key=itemgetter(0))
bc_perf_diabets = sorted(bc_perf_diabets, key=itemgetter(0))
overall = sum_lists(bc_inter_diabets,bc_perf_diabets)
overall = sorted(overall, key=itemgetter(1),reverse=True)
as_dataframe(overall)

    Methods  Votes_sum  Ranks
0     SOFNN       21.0    1.0
1     ANFIS       19.0    2.0
2  NEFCLASS       18.0    3.0
3    DENFIS       12.0    4.0
4     HyFIS        8.0    5.0